<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Al Fazil Oil Agency</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 12px Arial;
        }

        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 12px;
        }

            input[type=text] {
                background-color: #f1f1f1;
                width: 100%;
            }

            input[type=submit] {
                background-color: DodgerBlue;
                color: #fff;
                cursor: pointer;
            }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 3%;
            right: 3%;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Main/Index">Al Fazil Oil Agency</a>
            </div>
            <!-- /.navbar-header -->

          
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Main/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Products<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Main/AddProduct">Add product</a>
                                </li>
                                <li>
                                    <a href="/Main/UpdateProduct">Update product</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/Main/Stock"><i class="fa fa-th-list fa-fw"></i> Stock</a>
                        </li>
                        <li>
                            <a href="/Main/Invoice"><i class="fa fa-table fa-fw"></i> Invoice</a>
                        </li>
                
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header">
                        <h1>Add Product</h1>
                    </div>
                </div>
                <div id="alertdiv" class="col-lg-6">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="row">             
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Location:</label>
                                <select id="selectLocation" onchange="supllier()" class="form-control">
                                    <option value="1">Shop</option>
                                    <option>Depot</option>
                                </select>
                            </div>
                        </div>                       
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Supplier:</label>
                                <select id="selectSupplier" class="form-control">
                                    <option value="1">Direct</option>
                                    <option>Depot</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Category:</label>
                                <select id="selectCategory" onchange="categories()" class="form-control">
                                    <option value="1">Oil</option>
                                    <option value="2">Filters</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Date</label>
                                <input id="datePurchase" type="date" class="form-control" data-date-inline-picker="true">
                            </div>
                        </div>   
                    </div>   

                    <div class="row"> 
                        <div class="col-lg-6"> 
                            <div class="form-group">
                                <label>Product Name: </label>
                                <input id="txtProductName" class="form-control" placeholder="i.e. Zic Hiflo" required>
                            </div>
                        </div>
                        <div class="col-lg-6">   
                            <div class="form-group">
                                <label>Brand Name:</label>
                                <select id="selectBrand" class="form-control">
                                    <option>-Brand-</option>
                                    <option value="1">Zic</option>
                                    <option>Shell</option>
                                    <option>Toyota</option>
                                    <option>Honda</option>
                                    <option>Halloween</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                            
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Can Size: </label>
                                <input type="number" min="1" id="txtCanSize" class="form-control" placeholder="Can Size i.e 4L">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Number of Cans:</label>
                                <input type="number" min="1" id="txtNoOfCans" onkeyup="calculateLitres()" class="form-control" placeholder="Number of Cans">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Number of Litres:</label>
                                <input id="txtNoOfLitres" class="form-control" placeholder="Number of Litres" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Total Quantity: </label>
                                <input type="number" min="1" id="txtQuantity" class="form-control" placeholder="Total Quantity" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Price:</label>
                                <input type="number" min="1" id="txtPrice"  onkeyup="totalPrice()" class="form-control" placeholder="Price of each Piece">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Total Price:</label>
                                <input id="txtTotalPrice" class="form-control" placeholder="Total Price" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12"></div>       
                    </div>
                            
                    <div class="row">
                        <div class="col-lg-2">
                            <button id="btnSubmit" onclick="saveProduct()" class="btn btn-outline btn-primary col-lg-12">Save</button>
                        </div>
                        <div class="col-lg-2">
                            <button id="btnClear" type="reset" class="btn btn-outline btn-danger col-lg-12">Clear</button> 
                        </div>
                    </div>    
                </div>
             <div class="col-lg-1"></div>
          </div>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morrisjs/morris.min.js"></script>
    <script src="~/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

    <script src="~/Scripts/custom.js"></script>

    
        
       
</body>

</html>
