<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Al-Fazil Oil Agency</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Modal CSS-->
    <!--<link rel="stylesheet" href="~/Content/modal/bootstrap.min.css">
    <script src="~/Content/modal/jquery.min.js"></script>
    <script src="~/Content/modal/bootstrap.min.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 14px Arial;
        }

        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 12px;
        }

            input[type=text] {
                background-color: #f1f1f1;
                width: 100%;
            }

            input[type=submit] {
                background-color: DodgerBlue;
                color: #fff;
                cursor: pointer;
            }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 3%;
            right: 3%;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                .autocomplete-items div:hover {
                    /*when hovering an item:*/
                    background-color: #e9e9e9;
                }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../Images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
        }

        .gone {
            display: none;
        }
        
    </style>
   

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Main/Index">Al-Fazil Oil Agency</a>
            </div>
            <!-- /.navbar-header -->
            
            <div class="nav navbar-top-links navbar-right">
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="../../Main/Login">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Main/Zakaat"><i class="fa fa-money fa-fw"></i> Zakaat</a>
                        </li>
                        <li>
                            <a href="/Main/DailyExpenses"><i class="fa fa-dollar fa-fw"></i> Daily Expenses</a>
                        </li>
                        <li>
                            <a href="/Main/Stock"><i class="fa fa-th-list fa-fw"></i> Stock</a>
                        </li>
                        <li>
                            <a href="/Main/Invoice"><i class="fa fa-table fa-fw"></i> Invoice</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Main/Sales">Sales</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="loader"></div>
            <div class="row">
                <div class="page-header">
                    <h3>Inovice</h3>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-10" style="padding-right: 40px;">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Sale Person:</label>
                                <select id="selectSalePerson" class="form-control">
                                    <option>Bilal</option>
                                    <option>Awais</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Search Invoice(#):</label>
                                <div class="form-group input-group">
                                    <input id="txtInvoiceno" placeholder="Enter invoice no." class="form-control"><br />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="searchInvoice()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Search Invoice(Vehicle#):</label>
                                <div class="form-group input-group">
                                    <input id="txtVNumber" placeholder="Enter vehicle no." class="form-control"><br />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="searchInvoice()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Reset</label><br />
                                <button type="button" class="btn btn-warning" onclick="resetall()">Reset All</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Vehicle Number: </label>
                                <input id="txtVehicleNumber" class="form-control">
                                <input id="txtCustomerID" class="form-control" style="display:none">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Current Reading: </label>
                                <input id="txtCurrentReading" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Expected km: </label>
                                <input id="txtExpectedkm" onchange="nextChange()" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Next Change: </label>
                                <input id="txtNextChange" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Customer No.</label>
                                <input id="txtCustomerNo" class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="form-group input-group" style="padding-left:12px;">
                            <span class="input-group-addon"><b>Search Product: </b></span>
                            <input id="txtProductName" class="form-control" placeholder="Product Name">
                        </div>

                        <div class="panel-body" style="overflow-y: scroll; height:380px;">
                            <div class="table-responsive table-bordered">
                                <table id="cartItems" class="table">
                                    <thead>
                                        <tr>
                                            <th>Sr#</th>
                                            <th class="col-sm-3">Product Name</th>
                                            <th class="col-lg-1">Litres</th>
                                            <th class="col-lg-1">Cans</th>
                                            <th class="col-lg-1">Qty</th>
                                            <th>Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th>Rate</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="listOfItems"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <p>&nbsp</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div id="radioGroup" class="form-group">
                                    <label>Payment Method:</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radioPayment" id="radioPayment" value="Cash" checked>Cash
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radioPayment" id="radioPayment" value="Credit">Credit
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Comments:</label>
                                    <textarea id="txtComments" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                @*<div class="row">
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" checked>Print Invoice
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label>No. of Copies:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>*@
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="row">
                        <div class="form-group">
                            <label>Net Total: </label>
                            <input type="text" id="saleid" class="form-control input-lg" value="0" style="display:none">
                            <input type="text" id="txtNetTotal" class="form-control input-lg" value="0" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Invoice </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Cash: </label>
                            <input type="number" id="txtCash" class="form-control input-lg" onkeyup="calBalance()" value="0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Balance: </label>
                            <input type="text" id="txtBalance" class="form-control input-default" value="0" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button id="genBtn" type="button" class="btn btn-outline btn-success" onclick="generateInvoice()">Generate Invoice</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Vehicle Details</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Vehicle Number: </label>
                                        <input id="txtVehicleNumber" class="form-control">
                                        <input id="txtCustomerID" class="form-control" style="display:none">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Customer Name: </label>
                                        <input id="txtCustomerName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Employee Name:</label>
                                        <input id="txtEmpName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Current Reading: </label>
                                        <input id="txtCurrentReading" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Expected km: </label>
                                        <input id="txtExpectedkm" onchange="nextChange()" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Next Change: </label>
                                        <input id="txtNextChange" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Save Details</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div id="invoiceModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Invoice</h3>
                        </div>
                        <div class="modal-body">
                            <div id="alertdiv" class="row">

                            </div>
                            <div class="row">
                                @*<div class="col-lg-1"></div>*@

                                <div class="col-lg-12">
                                    <div class="form-group input-group">
                                        <input id="txtInvoiceno1" placeholder="Enter invoice no." class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="searchInvoice()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>Customer Name </label>
                                        <input id="txtInvoiceCustomerName" class="form-control" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label>Total Bill </label>
                                        <input id="txtInvoiceTotalBill" class="form-control" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label>Cash Paid </label>
                                        <input id="txtInvoiceCashPaid" class="form-control" onkeyup="changeBal()">
                                    </div>

                                    <div class="form-group">
                                        <label>Balance </label>
                                        <input id="txtInvoiceBalance" class="form-control" disabled>
                                    </div>
                                </div>

                                @*<div class="col-lg-1"></div>*@
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick="updateInvoice()">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div id="doneModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Thankyou for shopping here</h3>
                        </div>
                        <div class="modal-body">
                            <p>Click close to continue</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearInvoice()">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="toPrint"></div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morrisjs/morris.min.js"></script>
    <script src="~/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/printThis.js"></script>

    <script>

        var indices = [];
        var productNamesList = [];
        var allProducts = [];
        var arrOfTotals = [];
        var arrOfItems = [];
        var arrOfCustomerNames = [];
        var arrOfCustomers = [];

        $(document).ready(function () {
            $(".loader").removeClass("gone");

            getAvailStock(function (arr) {
                $(".loader").addClass("gone");
                var products = $.parseJSON(arr);
                $.each(products, function (index, item) {
                    indices.push(item.ProductID);
                    productNamesList.push(item.ProductName);
                    allProducts.push(item);
                });

                autocomplete(document.getElementById("txtProductName"), productNamesList,1);
            });

            getCustomers();
        });

        function autocomplete(inp, arr,turn) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].toLowerCase().indexOf(val.toLowerCase()) > -1) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML += arr[i];
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            var selectedValue = this.getElementsByTagName("input")[0].value;
                            //inp.value = selectedValue;
                            if (turn == 1) {
                                var indexOfObj = productNamesList.indexOf(selectedValue);
                                var obj = allProducts[indexOfObj];

                                var litreField = '';
                                var canField = '';
                                var rateField = '';
                                var quantityField = '';
                                var selectField = '';

                                if (obj.CategoryID == 1 || obj.CategoryID == '1') //Engine oil
                                {
                                    quantityField = 'disabled';
                                }
                                else if (obj.CategoryID == 2 || obj.CategoryID == '2')  //Raw oil
                                {
                                    quantityField = 'disabled';
                                    canField = 'disabled';
                                    selectField = 'disabled';
                                }
                                else {
                                    litreField = 'disabled';
                                    canField = 'disabled';
                                    selectField = 'disabled';
                                }

                                var idOfRow = obj.ProductID;

                                idx = 0
                                label = true;
                                for (idx = 0; idx < arrOfItems.length; idx++) {
                                    if (arrOfItems[idx].pid == obj.ProductID) {
                                        label = false;
                                    }
                                }

                                if (label) {
                                    $('#listOfItems').append(
                                    '<tr id="' + idOfRow + '">' +
                                    '<td>' + $('#cartItems tr').length + '</td>' +
                                    '<td>' + obj.ProductName + '</td>' +
                                    '<td><input id="txtNoOfLitres' + idOfRow + '" class="form-control" ' + litreField + ' onkeyup="calTotalPrice(' + idOfRow + ')" onfocusout="check(txtNoOfLitres' + idOfRow + ')" max="' + obj.TotalLiters + '"></td>' +
                                    '<td><input id="txtNoOfCans' + idOfRow + '" class="form-control" ' + canField + ' onkeyup="calTotalPrice(' + idOfRow + ')" onfocusout="check(txtNoOfCans' + idOfRow + ')" max="' + obj.TotalCans + '"></td>' +
                                    '<td><input id="txtQty' + idOfRow + '" class="form-control" ' + quantityField + ' onkeyup="calTotalPrice(' + idOfRow + ')" onfocusout="check(txtQty' + idOfRow + ')" max="' + obj.TotalQuantity + '"></td>' +
                                    '<td><select id="txtRateType' + idOfRow + '" class="form-control" onchange="calTotalPrice(' + idOfRow + ')" ' + selectField + '><option value="cans">Cans</option><option value="Litres">Litres</option></select>' +
                                    '<td><input id="txtPrice' + idOfRow + '" class="form-control" onkeyup="calTotalPrice(' + idOfRow + ')" ' + rateField + ' onchange="calNetTotal(' + idOfRow + ')"></td>' +
                                    '<td><input id="row' + idOfRow + '" class="form-control" onchange="calNetTotal(' + idOfRow + ')" disabled></td>' +
                                    '<td><button type="button" class="btn btn-link" onclick="delCart(' + idOfRow + ')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
                                    '</tr>');

                                    var item = {
                                        pid: obj.ProductID,
                                        name: null,
                                        litres: null,
                                        cans: null,
                                        quantity: null,
                                        rate: null,
                                        subTotal: null
                                    }
                                    arrOfItems.push(item);
                                }
                            }
                            else if (turn == 2) {
                                var indexOfObj = arrOfCustomerNames.indexOf(selectedValue);
                                var obj = arrOfCustomers[indexOfObj];

                                $('#txtCustomerName').val(obj.CustomerName);
                                $('#txtVehicleNumber').val(obj.VehicleNumber);
                                $('#txtCurrentReading').val(obj.CurrentReading);
                                $('#txtNextChange').val(obj.ExpectedChange);
                                $('#txtEmpName').val(obj.DealingEmployee);
                                $('#txtExpectedkm').val(obj.ExpectedChange - obj.CurrentReading);

                                $('#txtCustomerID').val(obj.CustomerID);

                            }
                            

                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                }
                else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                }
                else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();

                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        function calTotalPrice(id)
        {
            var id1 = 'txtPrice' + id;
            var id2 = 'txtNoOfCans' + id;
            var id3 = 'txtNoOfLitres' + id;
            var id4 = 'txtQty' + id;
            var id5 = '#txtRateType' + id;

            var canPrice = document.getElementById(id1).value;
            var numberOfCans = document.getElementById(id2).value;
            var totalLiters = document.getElementById(id3).value;
            var qty = document.getElementById(id4).value;

            
            if ($("#" + id2).is(":disabled")) {
                if ($("#" + id3).is(":disabled")) {  //filters and others
                    $('#row' + id).val((qty * canPrice));
                }
                else {
                    $('#row' + id).val((totalLiters * canPrice)); //raw oil
                }
            }
            else { //engine oil
                var val = $(id5).val();
                if (val.toLowerCase() == "litres") {
                    $('#row' + id).val((totalLiters * canPrice));
                }
                else {
                    $('#row' + id).val((numberOfCans * canPrice));
                }
            }

            var evt = new CustomEvent('change');
            document.getElementById('row' + id).dispatchEvent(evt);
        }

        function calNetTotal(id) {
            $.each(arrOfTotals, function (index, item) {
                if (item.Id == id) {
                    arrOfTotals.splice(index, 1);
                }
            });

            arrOfTotals.push({
                Id: id,
                Total: parseInt($('#row' + id).val())
            });

            var sum = 0;
            $.each(arrOfTotals, function (index, item) {
                sum += item.Total;
            });

            $('#txtNetTotal').val(sum);
        }

        function minusNetTotal(id) {
            $.each(arrOfTotals, function (index, item) {
                if (item.Id == id) {
                    $('#txtNetTotal').val(parseInt($('#txtNetTotal').val()) - item.Total);
                    calBalance();
                    arrOfTotals.splice(index, 1);
                    return false;
                }
            });
        }

        function delCart(id) {

            minusNetTotal(id);

            var id1 = '#' + id;
            $(id1).remove();

            idx = 0;
            
            for (idx = 0; idx < arrOfItems.length; idx++)
            {
                if (arrOfItems[idx].pid == id)
                {
                    arrOfItems.splice(idx, 1);
                }
            }
        }

        function calBalance(ctx)
        {
            var netTotal = parseInt($('#txtNetTotal').val());
            var cash = parseInt($('#txtCash').val());

            $('#txtBalance').val(cash - netTotal);
        }

        function getFormattedDate() {
            var date = new Date();
            var str = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

            return str;
        }

        function generateInvoice() {
            
            if (parseInt($('#txtCash').val()) >= 0) {
                
                continueInvoice();
                

            }
            else {
                alert("Kindly enter the amount for cash");
            }
           
            
        }

        function continueInvoice() {

            var tableRows = document.getElementById("cartItems").rows;

            $('#genBtn').prop('disabled', true);

            var i = 0;
            var y = 0;

            for (i = 1; i < tableRows.length; i++) {
                for (y = 0; y < arrOfItems.length; y++)
                {
                    var f1 = parseInt(tableRows[i].id);
                    var f2 = arrOfItems[y].pid;
                    if (f1 == f2) {
                        arrOfItems[y].name = tableRows[i].cells[1].innerHTML;
                        arrOfItems[y].litres = parseFloat(tableRows[i].cells[2].firstChild.value);
                        arrOfItems[y].cans = parseInt(tableRows[i].cells[3].firstChild.value);
                        arrOfItems[y].quantity = parseInt(tableRows[i].cells[4].firstChild.value);
                        arrOfItems[y].rate = parseInt(tableRows[i].cells[6].firstChild.value);
                        arrOfItems[y].subTotal = parseInt(tableRows[i].cells[7].firstChild.value);
                    }
                }
            }

            var model = {
                saleid: ($('#txtInvoiceno').val() == "") ? 0 : parseInt($('#txtInvoiceno').val()),
                date: getFormattedDate(),
                items: arrOfItems,
                netTotal: parseInt($("#txtNetTotal").val()),
                balance: parseInt($("#txtBalance").val()),
                typeOfInvoice: $('#radioGroup input[type=radio]:checked').val(),
                comments: $('#txtComments').val(),
                customer: {
                    CustomerID: ($('#txtCustomerID').val() == "") ? 0 : parseInt($('#saleid').val()),
                    CustomerName: $('#txtCustomerName').val(),
                    VehicleNumber: $('#txtVehicleNumber').val(),
                    CurrentReading: parseInt($('#txtCurrentReading').val()),
                    ExpectedChange: parseInt($('#txtNextChange').val()),
                    DealingEmployee: $('#txtEmpName').val(),
                    CustomerNumber: $('#txtCustomerNo').val()
                }
            }

            if (model.balance < 0)
            {
                model.typeOfInvoice = 'Credit';
            }
            else
            {
                model.typeOfInvoice = 'Cash';
            }

            var btnText = $('#genBtn').text();
            if (btnText.toLowerCase() == "generate invoice")
            {
                if (arrOfTotals.length > 0) {
                    addInvoice(model, function (resp) {
                        if (resp == "-1") {
                            alert("Error : (-1) Kindly press Ctrl + F5 to refresh or Contact Admin");
                        }
                        else if (parseInt(resp) > 0) {
                            printBill(model, resp, function () {
                                arrOfTotals = [];
                                arrOfItems = [];
                                $('#genBtn').prop('disabled', false);
                                $('#listOfItems').html('');
                                $('#txtNetTotal').val(0);
                                $('#txtBalance').val(0);
                                $('#txtCash').val(0);
                                $('#txtComments').val('');
                                $('#doneModal').modal('show');
                            });
                        }
                        else {
                            alert("Error : Kindly press Ctrl + F5 to refresh");
                            $('#genBtn').prop('disabled', false);
                        }
                    });
                }
                else {
                    alert("No items in cart");
                    $('#genBtn').prop('disabled', false);
                }
                
            }
            else
            {
                alterInvoiceApi(model, function (data) {
                    if (data == "1") {
                        indices = [];
                        productNamesList = [];
                        allProducts = [];

                        getAvailStock(function (arr) {
                            var products = $.parseJSON(arr);
                            $.each(products, function (index, item) {
                                indices.push(item.ProductID);
                                productNamesList.push(item.ProductName);
                                allProducts.push(item);
                            });

                            autocomplete(document.getElementById("txtProductName"), productNamesList, 1);
                            alert("Updated successfully !");
                            resetall()
                            $('#genBtn').prop('disabled', false);
                            $('#genBtn').html('Generate Invoice');
                        });
                    }
                    else {
                        alert(data);
                        $('#genBtn').prop('disabled', false);
                    }
                });
            }
            
            
        }

        function clearDetails() {
            $('#txtCustomerName').val('');
            $('#txtVehicleNumber').val('');
            $('#txtCurrentReading').val('');
            $('#txtNextChange').val('');
            $('#txtEmpName').val('');
            $('#txtExpectedkm').val('');
        }

        function printBill(model,id,callback) {
            var invoiceHtml = '<div style="width:3in"><table width="100%"><tr><td align="left"><img src="../../Images/logo.jpg"  width="45px"></td><td  align="left"><br><h4> Al Fazil Makhdoom<br>Hussain Oil Agency</h4></td></tr><tr><td colspan="2" style="border-top: 1px solid black;"></td></tr><tr><td align="left">Sale Receipt</td><td align="right">Invoice # ' + id + '</td></tr></table>' +
                                '<table width="100%">' +
	                                '<tr>' +
	                                    '<td align="center">Date: ' + model.date + '</td>' +
                                    '</tr>' +
                                    '<tr  style="text-align:center">' +
                                        '<td>Payment Mode: ' + model.typeOfInvoice + '</td>' +
                                    '</tr>' +
                                '</table>' +
                        '<table width="100%">' +
                        '<tr><td colspan="5" style="border-top: 1px solid black;"></td></tr>' +
                            '<tr style="font-size:13px;">' +
                              '<th>Sr</th>'+
                              '<th>Item</th>' +
                              '<th style="text-align:right">Rate</th>' +
                              '<th style="text-align:right">Qty</th>' +
                              '<th style="text-align:right">Amount</th>' +
                            '</tr>' +
                        '<tr><td colspan="5" style="border-top: 1px solid black;"></td></tr>';

            $.each(arrOfItems, function (index, item) {
                invoiceHtml += '<tr style="font-size:13px;"><td>'+(index+1)+'</td><td>' + item.name + '</td><td align="right">' + item.rate + '</td>';
                if (isNaN(item.quantity)) {
                    invoiceHtml += '<td align="right">' + item.litres + 'L</td>';
                }
                else {
                    invoiceHtml += '<td align="right">' + item.quantity + '</td>';
                }
                invoiceHtml += '<td align="right">' + item.subTotal + '</td></tr>';
            });
            invoiceHtml += '<tr><td colspan="5"  style="border-top: 1px solid black;"></td></tr>';
            invoiceHtml += '<tr><td colspan="4" align="right"><strong>Net Total:</strong></td>' +
                            '<td  align="right">' + model.netTotal + '</td></tr>' +

                           '<tr><td colspan="4" align="right"><strong>Cash:</strong></td>' +
                            '<td  align="right">' + $('#txtCash').val() + '</td></tr>' +

                           '<tr><td colspan="4" align="right"><strong>Balance:</strong></td>' +
                            '<td  align="right">' + model.balance + '</td></tr>' +
                           '<tr><td colspan="5"  style="border-top: 1px solid black;"></td></tr>' +
                           '</table>';
            if ($('#txtVehicleNumber').val() != "")
            {
                invoiceHtml += '<table width="100%">' +
                              '<tr>' +
		                            '<td align="left">Vehicle#: ' + $('#txtVehicleNumber').val() + '</td>' +
                                '<td align="right">Customer: ' + $('#txtCustomerName').val() + '</td>' +
                              '</tr>' +
                              '<tr>' +
  	                            '<td align="left">Reading: ' + $('#txtCurrentReading').val() + ' KM</td>' +
                                '<td align="right">Next Change: ' + $('#txtNextChange').val() + ' KM</td>' +
                              '</tr>' +
	                            '<tr>' +
  	                            '<td colspan="2" style="border-top: 1px solid black;"></td>' +
                              '</tr>' +
                            '</table>';
            }
            

            invoiceHtml += '<p style="text-align:center"><img src="../../Images/brandlogo.jpg"  width="290" height="50"/></p>' +
                '<div style="width:100%; text-align:center;">' +
                    '<p>' +
                      'Thank you for visiting Al Fazil Oil<br>' +
                      'We deal in all kinds of Auto Mobil Oils.<br>'+
                        'Ph: 042-35390205,  0300-4448044<br>' +
                      'Railway Road Near Taha Masjid Raiwind<br>' +
                    '</p>' +
                '</div>' +
              '</div>';


            $('#toPrint').html(invoiceHtml);
            $('#toPrint').printThis();

            callback();
        }

        function check(id) {
            if (parseFloat($(id).val()) > parseFloat($(id).attr('max'))) {
                alert("Value for this field cannot be greater than " + $(id).attr('max'));
                $(id).val('');
            }
        }

        function clearInvoice()
        {
            $('#toPrint').html('');
        }

        $('#doneModal').on('hidden.bs.modal', function () {
            //indices = [];
            //productNamesList = [];
            //allProducts = [];
            //clearDetails();
            //$('#toPrint').html('');

            //getAvailStock(function (arr) {
            //    $(".loader").addClass("gone");
            //    var products = $.parseJSON(arr);
            //    $.each(products, function (index, item) {
            //        indices.push(item.ProductID);
            //        productNamesList.push(item.ProductName);
            //        allProducts.push(item);
            //    });

            //    autocomplete(document.getElementById("txtProductName"), productNamesList,1);
            //});
            window.location.href = window.location;
        });

        function searchInvoice() {
            var query, msg = null;
            if ($('#txtInvoiceno').val() == "") {
                query = $('#txtVNumber').val();
                msg = "v";
            }
            else {
                query = $('#txtInvoiceno').val();
                msg = "i";
            }
            getInvoices(query, msg, function (data) {
                if (data == "-1") {
                    alert(' such invoice no. found');
                }
                else if (data.length == 0) {
                    alert('No such invoice no. found');
                }
                else {
                    //$('#txtInvoiceTotalBill').val(data[0].TotalAmount);
                    //$('#txtInvoiceCashPaid').val((data[0].TotalAmount + data[0].Balance));
                    //$('#txtInvoiceBalance').val(data[0].Balance);

                    arrOfTotals = [];
                    arrOfItems = [];
                    $('#genBtn').prop('disabled', false);
                    $('#genBtn').html('Generate Invoice');
                    $('#listOfItems').html('');
                    $('#txtNetTotal').val(0);
                    $('#txtBalance').val(0);
                    $('#txtCash').val(0);
                    $('#txtComments').val('');
                    $('#genBtn').html('Generate Invoice');
                    //clearDetails();

                    var data = JSON.parse(data);

                    var invoice = data.invoice;
                    var items = data.items;

                    $('#saleid').val(invoice[0].SaleID);

                    $.each(items, function (index, obj) {
                        var litreField = '';
                        var canField = '';
                        var rateField = '';
                        var quantityField = '';
                        var selectField = '';

                        if (obj.CategoryID == 1 || obj.CategoryID == '1') //Engine oil
                        {
                            quantityField = 'disabled';
                            litreField = 'value="' + obj.SellingLiters + '"';
                            canField = 'value="' + obj.CansSold + '"';

                        }
                        else if (obj.CategoryID == 2 || obj.CategoryID == '2')  //Raw oil
                        {
                            quantityField = 'disabled';
                            canField = 'disabled';
                            selectField = 'disabled';
                            litreField = 'value="' + obj.SellingLiters + '"';
                        }
                        else {
                            litreField = 'disabled';
                            canField = 'disabled';
                            selectField = 'disabled';
                            quantityField = 'value="' + obj.Quantity + '"';
                        }

                        var idOfRow = obj.ProductID;

                        $('#listOfItems').append(
                            '<tr id="' + idOfRow + '">' +
                            '<td>' + $('#cartItems tr').length + '</td>' +
                            '<td>' + obj.ProductName + '</td>' +
                            '<td><input id="txtNoOfLitres' + idOfRow + '" class="form-control" ' + litreField + ' onkeyup="calTotalPrice(' + idOfRow + ')" onfocusout="check(txtNoOfLitres' + idOfRow + ')" max="' + obj.TotalLiters + '"></td>' +
                            '<td><input id="txtNoOfCans' + idOfRow + '" class="form-control" ' + canField + ' onkeyup="calTotalPrice(' + idOfRow + ')" onfocusout="check(txtNoOfCans' + idOfRow + ')" max="' + obj.TotalCans + '"></td>' +
                            '<td><input id="txtQty' + idOfRow + '" class="form-control" ' + quantityField + ' onkeyup="calTotalPrice(' + idOfRow + ')" onfocusout="check(txtQty' + idOfRow + ')" max="' + obj.TotalQuantity + '"></td>' +
                            '<td><select id="txtRateType' + idOfRow + '" class="form-control" onchange="calTotalPrice(' + idOfRow + ')" ' + selectField + '><option value="cans">Cans</option><option value="Litres">Litres</option></select>' +
                            '<td><input id="txtPrice' + idOfRow + '" value="'+obj.SellingPrice+'" class="form-control" onkeyup="calTotalPrice(' + idOfRow + ')" ' + rateField + ' onchange="calNetTotal(' + idOfRow + ')"></td>' +
                            '<td><input id="row' + idOfRow + '" value="'+obj.Total+'" class="form-control" onchange="calNetTotal(' + idOfRow + ')" disabled></td>' +
                            '<td><button type="button" class="btn btn-link" onclick="delCart(' + idOfRow + ')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
                            '</tr>');

                        var item = {
                            pid: obj.ProductID,
                            name: null,
                            litres: null,
                            cans: null,
                            quantity: null,
                            rate: null,
                            subTotal: null
                        }

                        arrOfItems.push(item);
                        arrOfTotals.push({
                            Id: obj.ProductID,
                            Total: obj.Total
                        });
                    });

                    $('#txtNetTotal').val(invoice[0].TotalAmount);
                    $('#txtCash').val((invoice[0].TotalAmount + invoice[0].Balance));
                    $('#txtBalance').val(invoice[0].Balance);

                    
                    var obj = null;
                    for (var i = 0; i < arrOfCustomers.length; i++) {
                        if (arrOfCustomers[i].CustomerID == invoice[0].CustomerID)
                            obj = arrOfCustomers[i];
                    }

                    $('#genBtn').html('Update Invoice');

                    $('#txtCustomerName').val(obj.CustomerName);
                    $('#txtVehicleNumber').val(obj.VehicleNumber);
                    $('#txtCurrentReading').val(obj.CurrentReading);
                    $('#txtNextChange').val(obj.ExpectedChange);
                    $('#txtEmpName').val(obj.DealingEmployee);
                    $('#txtExpectedkm').val(obj.ExpectedChange - obj.CurrentReading);

                    $('#txtCustomerID').val(obj.CustomerID);

                    

                }
            });
        }

        function changeBal() {
            var cash = parseInt($('#txtInvoiceCashPaid').val());
            var bil = parseInt($('#txtInvoiceTotalBill').val());

            $('#txtInvoiceBalance').val((bil - cash));
        }

        function updateInvoice() {
            var id = $('#txtInvoiceno').val();
            var bal = parseInt($('#txtInvoiceBalance').val());
            updateInvoiceApi(id, bal, function (data) {
                if (data == "-1") {
                    $('#alertdiv').html('<div class="alert alert-danger">No such invoice no. found</div>');
                }
                else {
                    $('#alertdiv').html('<div class="alert alert-success">Updated successfully</div>');
                    setTimeout(
                      function () {
                          //do something special
                          $('#txtInvoiceCustomerName').val('');
                          $('#txtInvoiceTotalBill').val('');
                          $('#txtInvoiceCashPaid').val('');
                          $('#txtInvoiceBalance').val('');
                      }, 2000);
                }
            });
        }

        function getCustomers() {
            getCustomersApi(function (data) {
                if (data != "-1") {
                    data = JSON.parse(data);
                    arrOfCustomers = data;
                    $.each(arrOfCustomers, function (index, item) {
                        arrOfCustomerNames.push(item.VehicleNumber);
                    });
                }
            });

            autocomplete(document.getElementById("txtVehicleNumber"), arrOfCustomerNames, 2);
        }

        function resetall() {
            $('#txtInvoiceno').val('');
            arrOfTotals = [];
            arrOfItems = [];
            $('#genBtn').prop('disabled', false);
            $('#genBtn').html('Generate Invoice');
            $('#listOfItems').html('');
            $('#txtNetTotal').val(0);
            $('#txtBalance').val(0);
            $('#txtCash').val(0);
            $('#txtComments').val('');
            $('#txtProductName').val('');
            $('#txtVNumber').val('');
            $('#txtInvoiceno').val('');
            $('#genBtn').html('Generate Invoice');
            clearDetails();
        }

    </script>


</body>

</html>
s