<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Al-Fazil Oil Agency</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Main/Index">Al Fazil Oil Agency</a>
            </div>
            <!-- /.navbar-header -->

            <div class="nav navbar-top-links navbar-right">
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="../../Main/Login">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            
                        <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Main/Zakaat"><i class="fa fa-money fa-fw"></i> Zakaat</a>
                        </li>
                        <li>
                            <a href="/Main/DailyExpenses"><i class="fa fa-dollar fa-fw"></i> Daily Expenses</a>
                        </li>
                        <li>
                            <a href="/Main/Stock"><i class="fa fa-th-list fa-fw"></i> Stock</a>
                        </li>
                        <li>
                            <a href="/Main/Invoice"><i class="fa fa-table fa-fw"></i> Invoice</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Main/Sales">Sales</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
              </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="loader"></div>
            <div class="row">
                <div class="page-header">
                    <h1>Sales</h1>
                </div>
                <div class="row">

                </div>
            </div>

            <div class="row">

                <div class="col-lg-2">
                    <div class="form-group">
                        <label>From</label>
                        <input id="datepicker" type="date" class="form-control" data-date-inline-picker="true" @((Session["usertype"] == "ceo") ? "" : "disabled")>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>To</label>
                        <input id="datepickerTo" type="date" class="form-control" data-date-inline-picker="true" @((Session["usertype"] == "ceo") ? "" : "disabled")>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Total Sales (Rs.)</label>
                        <input id="txtTotalSales" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Total Expenses (Rs.)</label>
                        <input id="txtTotalExpenses" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Net Total</label>
                        <input id="txtNetTotal" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Profit/Loss</label>
                        <input id="txtProfit" type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11">

                </div>
                <div class="col-lg-1">
                    <button id="btnSearch" class="btn btn-primary" onclick="getReport()">Search</button> 
                </div>
            </div>
            <hr />
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List of sold items
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table id="salesTable" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Invoice-#</th>
                                        <th>ProductName</th>
                                        <th>Qty</th>
                                        <th>Litres-Sold</th>
                                        <th>Cans-Sold</th>
                                        <th>Rate</th>
                                        <th>Net-Total</th>
                                        <th>Profit/Loss</th>
                                    </tr>
                                </thead>
                                
                            </table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Expenses</h4>
                        </div>
                        <div class="modal-body">
                            <div id="alertdiv" class="row">
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Date</label>
                                                <input id="datePurchase" type="date" class="form-control" data-date-inline-picker="true">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Amount:</label>
                                                <input type="number" id="txtAmount" class="form-control" placeholder="Enter Amount">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Person:</label>
                                                <input  id="txtPerson"  class="form-control" placeholder="Person Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-lg-2">
                                    <button id="btnSubmit" onclick="saveZakaat()" class="btn btn-outline btn-primary col-lg-12">Save</button>
                                </div>
                                <div class="col-lg-2">
                                    <button id="btnClear" type="reset" class="btn btn-outline btn-danger col-lg-12">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morrisjs/morris.min.js"></script>
    <script src="~/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script>

        $(document).ready(function () {
            

        });

        function getReport() {
            $('#btnSearch').html('Searching...');
            $('#btnSearch').prop('disabled',true);
            var table = $('#salesTable').DataTable();
            var dtFrom = $('#datepicker').val();
            var dtTo = $('#datepickerTo').val();
            var sumSales = 0;
            var sumExp = 0;
            var sumProfit = 0;
            if (dtTo == "") {
                dtTo = dtFrom;
            }
            getSalesApi(dtFrom,dtTo, function (data) {
                table.clear().draw();
                $('#btnSearch').html('Search');
                $('#btnSearch').prop('disabled', false);

                //destroy datatable
                data = JSON.parse(data);
                $.each(data, function (index, item) {
                    table.row.add([
                        item.SaleID,
                        item.ProductName,
                        item.Quantity,
                        item.SellingLiters,
                        item.CansSold,
                        item.SellingPrice,
                        item.Total,
                        item.Profit
                    ]).draw();

                    sumSales += item.Total;
                    sumProfit += item.Profit;
                });

                $('#txtTotalSales').val(sumSales);
                $('#txtNetTotal').val((sumSales - sumExp));

                getDailyExpenses(dtFrom, dtTo, function (data) {

                    var arr = JSON.parse(data);

                    $.each(arr, function (index, item) {

                        sumExp += item.Amount;

                    });

                    $('#txtTotalExpenses').val(sumExp);
                    $('#txtNetTotal').val((sumSales - sumExp));
                    $('#txtProfit').val(sumProfit);
                });
            });
        }


    </script>


</body>

</html>
